<h1 class="mt-5"> Welcome to Admin Dashboard</h1>
<div class="qwe container-fluid px-4">
                <div class="row g-3 my-2">
                    <div class=" con col-md-3 mx-auto" >
                        <div class="p-3 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div>
                                <i class="bi bi-people-fill" style="font-size: 2em;"></i>
                                <h3 class="fs-2 text-center">9</h3>
                                <p class="fs-5">List of User</p>
                            </div>
                        </div>
                    </div>
                    
                   <div class=" cor col-md-3 mx-auto">
          <div class="p-3 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
              <div>
                  <i class="bi bi-book-fill" style="font-size: 2em;"></i>
                  <h3 class="fs-2 text-center">9</h3>
                  <p class="fs-5">List of Books</p>
              </div>
          </div>
                </div>

                <div class="ron col-md-3 mx-auto" >
                  <div class="p-3 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                      <div>
                          <i class="bi bi-people-fill" style="font-size: 2em;"></i>
                          <h3 class="fs-2 text-center">9</h3>
                          <p class="fs-5">List of Reader</p>
                      </div>
                  </div>
              </div>

                </div>

              </div>
    