.card {
    background-color: #F0F0F0;
}

h1 {
    color: black;
    text-align: center;
}

.con {
    transform: translate(100px, -0px);
}

.cor {
    transform: translate(-0px, -0px);
}

.ron {
    transform: translate(-100px, -0px);
}

.qwe {
    transform: translate(-0px, 150px);
}
