<div class="container mt-5">
    <h1>WELCOME</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Availability</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>ASUS</td>
            <td>TUF RTX 3060</td>
            <td>yes</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>GIGABYTE</td>
            <td>GAMING OC RTX 3080</td>
            <td>yes</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>MSI</td>
            <td>GAMING X RTX 3070</td>
            <td>yes</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>ASUS</td>
            <td>ROG STRIX RTX 3090</td>
            <td>yes</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>ZOATC</td>
            <td>OC RTX 3070 ti</td>
            <td>no</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Palit</td>
            <td>Jetstream RTX 3080 ti</td>
            <td>no</td>
          </tr>
          
        </tbody>
      </table>

      
    