.product-card {
    border: 1px solid #000000;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.1.5s;
    padding: 10px;
    background-color: silver;
    height: -100px;
}

.product-card:hover {
    transform: scale(1.05);
    
    
}

.card-img {
    max-height: 200px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    color: black;
}

.card-price {
    color: black;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.btn-favorite {
    background-color: transparent;
    border: none;
    color: black; 
}

.btn-favorite:hover {
    color: red; 
}

h1.card-title {
  text-align: left;
  padding-top: 10px;
  
}

.card-text {
max-height: 100px;
overflow: auto;

}

.cart-badge {
position: absolute;
top: 0;
right: 0;
background-color: blue;
color: black;
border-radius: 25%;
padding: 3px 6px;
font-size: 12px;

}

.nav-item {
margin-right: 5px;
margin-bottom: 3px;
}

.container{
height: 100px;
}
body{
padding: 0;
margin: 0;
}



