<div class="topnav">
  <div class="container d-flex justify-content-end" style="height: 100%;">
    <div class="topnavs">
      <input type="text" placeholder="Search Bar">
      <button class="btn btn-outline-dark" type="submit">Search</button>
    </div>
    <div  class="d-flex align-items-center gap-2" style="cursor: pointer;">
        <div class="dropdown" style="width: 40px; height: 40px;">
            <img
            style="border-radius: 100%;"
              class="img-fluid"
              src="../../../assets/user.png"
              alt=""
            />
          </div>
          <h1 class="fs-5 text-black">Admin</h1>
    </div>
    
</div>

</div>
