<div class="topnav">
    <div class="container d-flex justify-content-end" style="height: 100%;">
        <div  class="d-flex align-items-center gap-2" style="cursor: pointer;">
            <div class="dropdown" style="width: 40px; height: 40px;">
                <img
                style="border-radius: 100%;"
                  class="img-fluid"
                  src="../../../assets/vjpic.jpg"
                  alt=""
                />
              </div>
              <h1 class="fs-5 text-white">Vincent Cuaresma</h1>
        </div>
        
    </div>
  
</div>
